progress {
  text-align: center;
  padding: 0.6rem;
  width: 50rem;
  color: darkcyan;
}

.header {
  text-align: center;
  width: 100%;
  background-color: aliceblue;
}

.data {
  margin: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  padding: 0.2rem;
}

.country {
  color: #010101;
  font-weight: bolder;
}

.names {
  width: fit-content;
}
.data-wrapper {
  display: flex;
  flex-direction: column;
}
